<%= form_tag search_path, class: "o-main__search" do |f| %>
      <%= check_box :strict, "option", { checked: true, class: "c-search__field--hide" }, true, false %>
      <%= text_field_tag :blogger, blogger_page, type: "hidden" %>
      <%= image_submit_tag asset_path("search.png"), class: "c-main__search_image" %><!--
   --><%= text_field_tag :search, previous_search, placeholder: "Search . . .", class: "c-main__search_field" %>
    <% end %>

<div class="c-text">
  Welcome to the BlogSite.
  Either check out the most recent blogs or start your own.
</div>

<% if @articles != [] %>

  <div class="o-article-wrapper">
    
    <% @articles.each do |article| %>

      <%= link_to blogger_article_path(article.blogger, article), class: "o-article", id: article.id do %>
        
        <div class="c-article__title">
          <%= article.title %>
        </div>

        <div class="c-article__content">
          <% if article.wysiwyg? %>
            <%= article.wysiwyg_content.html_safe %>
          <% else %>
            <%= markdown article.content %>
          <% end %>
        </div>

        <div class="c-article__username">
          -<%= article.blogger.username %>
        </div>
        
      <% end %>

    <% end %>
  
  </div>

<% else %>

  <div class="c-messages">Oops there are no articles here.</div>

  <div class="c-messages">Why don't you become a blogger and write the first one.</div>

<% end %>