
<%= form_for @blogger do |f| %>

  <div>
    <%= f.label :username %>:
  </div>
  <div class="input">
    <%= f.text_field :username, class: "input_box" %>
  </div>
  <div>
    <%= f.label :email %>:
  </div>
  <div class="input">
    <%= f.text_field :email, class: "input_box" %>
  </div>
  <div>
    <%= f.label :password %>:
  </div>
  <div class="input">
    <%= f.password_field :password, class: "input_box"%>
  </div>
  <div>
    <%= f.label :password_confirmation %>:
  </div>
  <div class="pass_conf_input">
    <%= f.password_field :password_confirmation, class: "input_box" %>
  </div>

  <%= link_to "Cancel", root_path, class: "btn" %>
  <%= f.submit "Sign up", class: "btn" %>

<% end %>