
<%= form_for @blogger, html: { class: "o-sign_form" } do |f| %>

  <div>
    <%= f.label :username %>:
  </div>
  <div class="c-form__input">
    <%= f.text_field :username, class: "c-form__field" %>
  </div>

  <div>
    <%= f.label :email %>:
  </div>
  <div class="c-form__input">
    <%= f.text_field :email, class: "c-form__field" %>
  </div>

  <div>
    <%= f.label :password %>:
  </div>
  <div class="c-form__input">
    <%= f.password_field :password, class: "c-form__field"%>
  </div>
  
  <div>
    <%= f.label :password_confirmation %>:
  </div>
  <div class="c-form__input">
    <%= f.password_field :password_confirmation, class: "c-form__field" %>
  </div>

  <%= link_to "Cancel", root_path, class: "c-btn c-form__btn c-form__btn--alt" %>
  <%= f.submit "Sign up", class: "c-btn c-form__btn" %>

<% end %>