<% if no_results? %>

  No results found for "<%= previous_search %>"

<% elsif search_term? %>
  Search Results For "<%= previous_search %>":
  <% @results.each do |result| %>

    <div>
      <%= result.title %>
      <% if result.wysiwyg? %>
        <%= result.wysiwyg_content.html_safe %>
      <% else %>
        <%= markdown result.content %>
      <% end %>
      <%= result.blogger.username %>
    </div>

  <% end %>

<% else %>

  Please enter word/phrase to search.

<% end %>