<%= form_tag search_path do %>
  <div class="o-search">

    <div class="o-search__main">
      <%= image_submit_tag asset_path("search.png"), class: "c-search__btn" %><!--
   --><%=text_field_tag :search, previous_search, class: "c-search__term" %>
    </div>

    <input type="checkbox" class="o-toggle" name="search_toggle" id="search_toggle"/>
    <label for="search_toggle" class="c-search__option_btn">
      Advanced Search Options <div class="c-search__arrow"></div>
    </label>

    <div class="o-search__options">
      <div>
        Search for whole phrase: <%= check_box :strict, "option", { checked: true }, true, false %>
      </div>
      <div>
        Search for article by:
      </div>
      <%= text_field_tag :blogger, blogger_search, placeholder: "Username . . .", class: "c-search__blogger" %>

      <%= image_submit_tag asset_path("search.png"), class: "c-search__btn c-search__btn--small" %>
    </div>

  </div>
<% end %>

<div class="results">
 
  <% if blogger_search? && !blogger? %>
  
    <div class="o-search c-messages">
      Cannot find a blogger with username "<%= blogger_search %>"
    </div>

  <% elsif no_results? && blogger_search? %>

    <div class="o-search c-messages">
      No results found for "<%= previous_search %>" by "<%= blogger_search %>"
    </div>

  <% elsif no_results? %>

    <div class="o-search c-messages">
      No results found for "<%= previous_search %>"
    </div>

  <% elsif search_term? && blogger_search? %>

    <div class="o-search c-messages">
      Search Results For "<%= previous_search %>" By "<%= blogger_search %>":
    </div>

    <%= render partial: "articles" %>

  <% elsif search_term? %>

    <div class="o-search c-messages">
      Search Results For "<%= previous_search %>":
    </div>

    <%= render partial: "articles" %>

  <% else %>

    <div class="c-messages">
      Please enter word/phrase to search.
    </div>

  <% end %>

</div>