<%= form_tag search_path do %>
  <div class="o-search">
    <input type="checkbox" class="o-toggle" name="search_toggle" id="search_toggle"/>
    <div class="o-search__main">
      <%= image_submit_tag asset_path("search.png"), class: "c-search__btn" %><!--
   --><%=text_field_tag :search, previous_search, class: "c-search__term" %><!--
 --></div><!--
 --><label for="search_toggle" class="c-search__option_btn"><!--
   -->Advanced Search Options <div class="c-search__arrow"></div>
    </label>

    <div class="o-search__options">
      <div class="c-search__phrase_option">
        Search for whole phrase: <%= check_box :strict, "option", { checked: true }, true, false %>
      </div>
      <div class="c-search__blogger_label">
        Search for article by:
      </div>
      <%= text_field_tag :blogger, blogger_search, placeholder: "Username . . .", class: "c-search__blogger" %>

      <%= image_submit_tag asset_path("search.png"), class: "c-search__btn c-search__btn--small" %>
    </div>

  </div>
<% end %>

<div class="c-results">
  
  <div class="o-search c-messages u-search__margin--correct">
    <% if blogger_search? && !blogger? %>

      Cannot find a blogger with username "<%= blogger_search %>"

    <% elsif no_results? && blogger_search? %>

        No results found for "<%= previous_search %>" by "<%= blogger_search %>"

    <% elsif no_results? %>

        No results found for "<%= previous_search %>"

    <% elsif search_term? && blogger_search? %>

        Search Results For "<%= previous_search %>" By "<%= blogger_search %>":

    <% elsif search_term? %>

        Search Results For "<%= previous_search %>":

    <% else %>

        Please enter word/phrase to search.

    <% end %>
  </div>
  
  <% if search_term? %>

    <%= render partial: "articles" %>

  <% end %>

</div>