<div class="article_display" id="article_display_<%= article.id %>">
  
  <% if article.wysiwyg? %>
    <textarea id="display" class="<%= article.id %>"><%= article.wysiwyg_content %></textarea>
  <% else %>
    <%= markdown article.content %>
  <% end %>

  <% if current_user == @blogger %>
    <button class="edit_button btn" id="<%= article.id %>">
      Edit Article - <%= article.title %>
    </button>
  <% end %>
</div>

<div class="article_editor" id="article_editor_<%= article.id %>">
  <%= form_for [@blogger, article] do |f| %>
    <div>
      <%= f.text_area(:content, size: "48x12") %>
    </div>
    <%= f.submit "Edit Article", class: "btn" %>
    <%= link_to "Delete Article", blogger_article_path(@blogger, article), class: "btn", method: :delete %>
  <% end %>
</div>