<div class="blogger_page">

  <div class="c-blogger__username">
    <%= @blogger.username %>
  </div>

  <% if current_user == @blogger %>

    <button class="c-article__new" id="new_article">New Article</button>

    <div class="article_writer o-article_container c-form__article">
      <%= form_for [@blogger, @article] do |f| %>
        <div>
          <%= f.label :title %>
          <%= f.text_field :title, class: "c-form__title" %>
        </div>
        <div class="">
          <div class="">
            What do you want to write your post in:
          </div> 
          <div class="c-form__selectors">
            <div class="">
              <%= f.radio_button :option, "markdown" %>
              <%= f.label :option, ":Markdown" %>
            </div>
            <div class="">
              <%= f.radio_button :option, "wysiwyg" %>
              <%= f.label :option, ":WYSIWYG" %>
            </div>
          </div>
        </div>
        <div class="content_container" id="wysiwig_content_container">
          <%= f.cktext_area :wysiwyg_content, { id: "wysiwyg_content", ckeditor: { toolbar: "custom" } } %>
        </div>
        <div class="content_container" id="markdown_content_container">
          <%= f.text_area(:content, class: "c-form__markdown_editor") %>
        </div>
        <button type="button" class="c-form__submit c-form__submit--cancel" id="cancel_writing">Cancel</button>
        <%= f.submit "Post", class: "c-form__submit" %>
      <% end %>
    </div>
    

  <% else %>

    <%= form_for [@blogger, new_subscriber], html: { class: "o-form" } do |f| %>

    <div class="c-subscribe_form__text">
      Subscribe to receive emails when <%= @blogger.username %> posts a new blog.
    </div>
    <div class="c-form__input">
      <%= f.text_field :email, placeholder: "Email", class: "c-form__field" %>
    </div>
    <%= f.submit "Subscribe", class: "c-subscribe_form__submit" %>
  <% end %>
  <% end %>

  <% if @articles != [] %>
    
      <% @articles.each do |a| %>
        <%= link_to blogger_article_path(@blogger, a), class: "o-article_container", id: "id_#{a.id}" do %>
          <div >

            <div class="c-article__title">
              <%= a.title %>
            </div>

            <div class="c-article__content">
              <% if a.wysiwyg? %>
                <%= a.wysiwyg_content.html_safe %>
              <% else %>
                <%= markdown a.content %>
              <% end %>
            </div>

          </div>
        <% end %>
      <% end %>
  
  <% else %>
    No blog posts have been made.
  <%end%>
</div>