<% if current_user == @blogger %>
  <div>
    <button class="btn" id="new_article">New Article</button>
    
    <div class="article_writer container">
      <%= form_for [@blogger, @article] do |f| %>
        <div>
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
        <div>
          <%= f.text_area(:content, size: "48x12") %>
        </div>
        <%= f.submit "Post Article", class: "btn" %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @articles != [] %>
  <% @articles.each do |a| %>
    <div class="container">
      <%= link_to "#{a.title}", blogger_article_path(@blogger, a), class: "btn" %>

      <%= render partial: "article", locals: { article: a } %>

    </div>
  <% end %>
<% else %>
  No blog posts have been made.
<%end%>