<div class="blogger_page">

  <div class="c-blogger__username">
    <%= @blogger.username %>
  </div>

  <%= form_for [@blogger, new_subscriber], html: { class: "o-subscribe_form" } do |f| %>

    <div class="c-subscribe_form__text">
      Subscribe to receive emails when <%= @blogger.username %> posts a new blog.
    </div>
    <div class="c-form__input">
      <%= f.text_field :email, placeholder: "Email", class: "c-form__field" %>
    </div>
    <%= f.submit "Subscribe", class: "c-subscribe_form__submit" %>
  <% end %>

  <% if current_user == @blogger %>
    <div>
      <button class="btn" id="new_article">New Article</button>
      
      <div class="article_writer article_container">
        <%= form_for [@blogger, @article] do |f| %>
          <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
          </div>
          <div class="type_selector">
            <div class="type_section">
              What do you want to write your post in:
            </div> 
            <div class="radio_selectors">
              <div class="type_section">
                <%= f.radio_button :option, "markdown" %>
                <%= f.label :option, ":Markdown" %>
              </div>
              <div class="type_section">
                <%= f.radio_button :option, "wysiwyg" %>
                <%= f.label :option, ":WYSIWYG" %>
              </div>
            </div>
          </div>
          <div class="content_container" id="wysiwig_content_container">
            <%= f.cktext_area :wysiwyg_content, { id: "wysiwyg_content", ckeditor: { toolbar: "custom" } } %>
          </div>
          <div class="content_container" id="markdown_content_container">
            <%= f.text_area(:content, class: "markdown_text_editor") %>
          </div>
          <button id="cancel_writing">Cancel</button>
          <%= f.submit "Post", class: "btn" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @articles != [] %>
    
      <% @articles.each do |a| %>
        <%= link_to blogger_article_path(@blogger, a), class: "o-article_container", id: "id_#{a.id}" do %>
          <div >

            <div class="c-article__title">
              <%= a.title %>
            </div>

            <div class="c-article__content">
              <% if a.wysiwyg? %>
                <%= a.wysiwyg_content.html_safe %>
              <% else %>
                <%= markdown a.content %>
              <% end %>
            </div>

          </div>
        <% end %>
      <% end %>
  
  <% else %>
    No blog posts have been made.
  <%end%>
</div>