<% if current_user == @blogger %>
  <div>
    <button class="btn" id="new_article">New Article</button>
    
    <div class="article_writer article_container">
      <%= form_for [@blogger, @article] do |f| %>
        <div>
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
        <div>
          What do you want to write your post in: 
          <%= f.radio_button :option, "markdown" %>
          <%= f.label :option, ":Markdown" %>
          
          <%= f.radio_button :option, "wysiwyg" %>
          <%= f.label :option, ":WYSIWYG" %>
        </div>
        <div class="content_container" id="wysiwig_content_container">
          <%= f.cktext_area :wysiwyg_content, { id: "wysiwyg_content", ckeditor: { toolbar: "custom" } } %>
        </div>
        <div id="markdown_content_container">
          <%= f.text_area(:content, class: "markdown_text_area") %>
        </div>
        <%= f.submit "Post Article", class: "btn" %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @articles != [] %>
  <% @articles.each do |a| %>
    <div class="article_container">
      <%= link_to "#{a.title}", blogger_article_path(@blogger, a), class: "btn" %>

      <%= render partial: "article", locals: { article: a } %>

    </div>
  <% end %>
<% else %>
  No blog posts have been made.
<%end%>