<div class="whole_article">

  <div class="title" ><%= @article.title %></div>

  <%= render partial: "article", locals: { article: @article } %>

</div>

<button class="btn" id="comment">Comment</button>

<div class="commenter container">
  <%= form_for [@blogger, @article, @comment] do |f| %>
    <div>
      <%= f.label :name %>:
      <%= f.text_field :name %>
    </div>
    <div>  
      <%= f.label :comment %>:
      <%= f.text_area(:content, size: "48x6") %>
    </div>
    <%= f.submit "Post Comment", class: "btn" %>
  <% end %>
</div>

<table class="comments">
  <% @comments.each do |comment| %>
    <tr>
      <td class="comment_head">
        <%= comment.name %>:
      </td>
      <td class="comment_main">
        <%= comment.content %>
      </td>
      <td class="comment_sub">
        <%= comment.created_at.strftime("%e/%-m/%y at %H:%M") %>
        <% if current_user == @blogger %>
          <%= link_to "Delete", blogger_article_comment_path(@blogger, @article, comment), method: :delete, class: "btn" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</div>