<div class="whole_article">

  <div class="title" ><%= @article.title %></div>

  <%= render partial: "article", locals: { article: @article } %>

</div>

<button class="btn" id="comment">Comment</button>

<div class="comment_new">
  <%= form_for [@blogger, @article, @comment] do |f| %>
    <div class="label_container">
      <%= f.label :name, class: "comment_label" %>:
    </div>
    <div class="input_container"> 
      <%= f.text_field :name, class: "comment_input" %>
    </div>
    <div class=class="label_container">  
      <%= f.label :comment, class: "comment_label"%>:
    </div>
    <div class="input_container"> 
      <%= f.text_area :content, class: "comment_input comment_content" %>
    </div>
    <%= f.submit "Post Comment", class: "btn" %>
  <% end %>
</div>

<table class="comments">
  <% @comments.each do |comment| %>
    <tr>
      <td class="comment_head">
        <%= comment.name %>:
      </td>
      <td class="comment_main">
        <%= comment.content %>
      </td>
      <td class="comment_sub">
        <%= comment.created_at.strftime("%e/%-m/%y at %H:%M") %>
        <% if current_user == @blogger %>
          <%= link_to "Delete", blogger_article_comment_path(@blogger, @article, comment), method: :delete, class: "btn" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</div>