<div class="container">

  <div class="article_title" ><%= @article.title %></div>

  <%= render partial: "article", locals: { article: @article } %>

</div>

<button class="btn" id="comment">Comment</button>

<div class="commenter container">
  <%= form_for [@article, @comment] do |f| %>
    <div>
      <%= f.label :name %>:
      <%= f.text_field :name %>
    </div>
    <div>  
      <%= f.label :comment %>:
      <%= f.text_area(:content, size: "48x6") %>
    </div>
    <%= f.submit "Post Comment", class: "btn" %>
  <% end %>
</div>

<div>
  <% @comments.each do |comment| %>
    <div>
      <%= comment.name %>: <%= comment.content %>
      commented on: <%= comment.created_at.strftime("%H:%M on %e/%-m/%y") %>
      <%= link_to "Delete Comment", article_comment_path(@article, comment), method: :delete, class: "btn" %>
    </div>
  <% end %>
</div>