 <%= link_to "< #{@article.blogger.username}", blogger_articles_path(@article.blogger) , class: "c-blogger_username" %>

  <% if current_user == @blogger %>
    <input type="checkbox" class="o-toggle" name="edit_toggle" id="edit_toggle"/>
    <label for="edit_toggle" class="c-btn c-btn--wide">Edit Article</label>
  <% end %>

<div class="o-whole_article">

  <div class="c-article__title" ><%= @article.title %></div>

  <div class="c-article__content u-article__content--full">
  
    <% if @article.wysiwyg? %>
      <%= @article.wysiwyg_content.html_safe %>
    <% else %>
      <%= markdown @article.content %>
    <% end %>

  </div>

</div>

<div class="o-article__form">

  <div class="c-article__title" ><%= @article.title %></div>

  <%= form_for [@blogger, @article] do |f| %>

    <% if @article.wysiwyg? %>
      <%= f.cktext_area :wysiwyg_content, { ckeditor: { toolbar: "custom" } } %>
    <% else %>
      <%= f.text_area(:content, class: "c-form__markdown_editor") %>
    <% end %>

    <label for="edit_toggle" class="c-btn c-form__btn c-form__btn--alt">Cancel</label>

    <%= f.submit "Edit", class: "c-btn c-form__btn" %>


    <%= link_to "Delete", blogger_article_path(@blogger, @article), class: "c-btn c-form__btn c-form__btn--alt u-form__btn--center", method: :delete, data: { confirm: 'Are you sure you wish to delete this post?' } %>

  <% end %>

</div>

<div>
  <input type="checkbox" class="o-toggle" name="comment_toggle" id="comment_toggle"/>
  <label for="comment_toggle" class="c-btn c-btn--wide">Comment</label>

  <div class="o-article__form">
    <%= form_for [@blogger, @article, @comment] do |f| %>
     
      <%= f.label :name %>:
      <%= f.text_field :name, class: "c-form__title_field" %>

        <div class="comment_item">
          <div class="label_container">  
            <%= f.label :comment, class: "comment_label"%>:
          </div>
          <div class="input_container"> 
            <%= f.text_area :content, class: "c-form__markdown_editor u-form__markdown_editor--short" %>
          </div>
        </div>

      <label for="comment_toggle" class="c-btn c-form__btn c-form__btn--alt">Cancel</label>
      <%= f.submit "Comment", class: "c-btn c-form__btn" %>

    <% end %>
  </div>

  <% if @comments != [] %>
    <table class="o-comments">
      <% @comments.each do |comment| %>
        <tr>
          <td class="c-comments__cell c-comments__name">
            <%= comment.name %>:
          </td>
          <td class="c-comments__cell c-comments__main">
            <%= comment.content %>
          </td>
          <td class="c-comments__cell c-comments__time">
            <%= comment.posted_at(Time.now) %>
            <% if current_user == @blogger %>
              <%= link_to "Delete", blogger_article_comment_path(@blogger, @article, comment), method: :delete, class: "c-btn c-form__btn c-form__btn--full c-form__btn--small", data: { confirm: 'Are you sure you wish to delete this comment?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="o-article_container">
      <div class="c-messages">No Comments.</div>
    </div>
  <% end %>
</div>


<% if @articles != [] %>

  <div class="c-text c-text--full">
    More Articles by <%= @blogger.username %>
  </div>
  
  <div class="o-article_container">
    <% @articles.each do |a| %>

      <%= link_to blogger_article_path(a.blogger, a), class: "o-article u-article--thin", id: a.id do %>
          
        <div class="c-article__title">
          <%= a.title %>
        </div>

        <div class="c-article__content">
          <% if a.wysiwyg? %>
            <%= a.wysiwyg_content.html_safe %>
          <% else %>
            <%= markdown a.content %>
          <% end %>
        </div>
        
      <% end %>

    <% end %>
  </div>
<% end %>
