<%= form_tag blogger_sessions_path, method: :post, class: "o-form o-form__sign" do |f| %>
  
  <div>
    <%= label_tag :email %>:
  </div>
  <div class="c-form__input">
    <%= text_field_tag :email, nil, class: "c-form__field" %>
  </div>

  <div>
    <%= label_tag :password %>:
  </div>
  <div class="c-form__input">
    <%= password_field_tag :password, nil, class: "c-form__field" %>
  </div>

  <%= link_to "Cancel", root_path, class: "c-form__submit c-form__submit--cancel" %>
  <%= submit_tag "Sign in", class: "c-form__submit" %>

<% end %>