<!DOCTYPE html>
<html>
<head>
  <title>CodeChallenge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav_bar">

    <div class="sub_nav">
      <% if on_blogger_page? && on_blogger_page? != current_user && !logged_in? %>
        <button class="btn" id="subscribe">Subscribe</button>
      <% end %>
      <%= link_to "Home", root_path, class: "btn" %> 

      <% if logged_in? %>
        <%= link_to "My Blog", blogger_articles_path(current_user), class: "btn" %>
      <% end %>
    </div>

    <div class="sub_nav">
      <% if logged_in? %>

        <% if on_blogger_page? && on_blogger_page? != current_user && logged_in? %>
          <button class="btn" id="subscribe">Subscribe</button>
        <% end %>
        
        <%= link_to "Sign Out", :sign_out, method: :post, class: "btn" %>

      <% else %>

        <button class="btn" id="sign_up">Sign Up</button>
        <button class="btn" id="sign_in">Sign In</button>

      <% end %>
    </div>

  </div>

  <% if !logged_in? %>
    <div class="sign_up_form form">
      <div class="form_container">
        <div class="form_aligner">
          <%= form_for new_blogger do |f| %>
            <div class="form_item">
              <%= f.label :username %>:
              <%= f.text_field :username %>
            </div>
            <div class="form_item">
              <%= f.label :email %>:
              <%= f.text_field :email %>
            </div>
            <div class="form_item">
              <%= f.label :password %>:
              <%= f.password_field :password %>
            </div>
            <div class="form_item long">
              <div class="long_item">
                <%= f.label :password_confirmation %>:
              </div>
              <div>
                <%= f.password_field :password_confirmation %>
              </div>
            </div>
            <%= f.submit "Sign Up", class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="sign_in_form form">
      <div class="form_container">
        <div class="form_aligner">
          <%= form_tag blogger_sessions_path, method: :post do |f| %>
            <div class="form_item">
              <%= label_tag :email %>:
              <%= text_field_tag :email %>
            </div>
            <div class="form_item">
              <%= label_tag :password %>:
              <%= password_field_tag :password %>
            </div>
            <%= submit_tag "Sign In", class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if on_blogger_page? && on_blogger_page? != current_user %>
    <div class="subscribe_form form">
      <div class="form_container">
        <div class="form_aligner">
          <%= form_for [@blogger, new_subscriber] do |f| %>
            <div class="form_item">
              <%= f.label :email %>:
              <%= f.text_field :email %>
            </div>
            <%= f.submit "Subscribe", class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  
  <% if hide? %>

    <div class="hidden">

  <% else %>

    <div>

  <% end %>
      <%= form_tag search_path do |f| %>
        <%= check_box :strict, "option", { checked: true, class: "hidden" }, true, false %>
        <%= text_field_tag :blogger, blogger_page, class: "hidden" %>
        <%= image_submit_tag asset_path("search.png"), id: "search_button" %>
        <%= text_field_tag :search, previous_search %>
      <% end %>
    </div>

  <div class="main">
    <% flash.each do |type, message| %>
      <div class="alert flash <%= type %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
