<!DOCTYPE html>
<html>
<head>
  <title>CodeChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <button id="subscribe">Subscribe</button>
  <div id="subscribe_form">
    <%= form_for Subscriber.new do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.submit "Become a Subscriber" %>
    <% end %>
  </div>
</div>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<%= yield %>

<% if !session[:user_signed_in] %>
  <div class="sign_in">
    <%= form_tag("/blogger/session", method: "post") do %>
      <%= text_field_tag :email %>
      <%= password_field_tag :password %>
      <%= submit_tag 'Sign in' %>
    <% end %>
  </div>
<% end %>
</body>
</html>
