<!DOCTYPE html>
<html>
<head>
  <title>BlogSite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700|Lobster|Roboto|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <input type="checkbox" class="o-nav_toggle" name="nav_toggle" id="nav_toggle"/>
    <label for="nav_toggle" class="c-nav_toggle__label"></label>

    <div class="c-web_title">BlogSite</div>
    
    <div class="o-nav">

      <div class="c-web_title c-nav__title">BlogSite</div>

      <div class="o-nav__links">

        <%= form_tag search_path, class: "o-nav__search" do |f| %>
          <%= check_box :strict, "option", { checked: true, class: "c-search__field--hide" }, true, false %>
          <%= text_field_tag :blogger, blogger_page, type: "hidden" %>
          <%= image_submit_tag asset_path("search.png"), class: "c-search__image" %>
          <%= text_field_tag :search, previous_search, placeholder: "Search . . .", class: "c-search__field" %>
        <% end %>

        <%= link_to "Home", root_path, class: "c-nav__button" %> 

        <% if logged_in? %>

          <%= link_to "My Blog", blogger_articles_path(current_user), class: "c-nav__button" %>
          <%= link_to "Sign out", :sign_out, method: :post, class: "c-nav__button" %>
        
        <% else %>

          <%= link_to "Sign in", new_blogger_session_path, class: "c-nav__button" %>
          
          <%= form_tag blogger_sessions_path, method: :post, class: "o-nav__sign_in_form" do |f| %>
              <%= text_field_tag :email, nil, placeholder: "Email" %>
              <%= password_field_tag :password, nil, placeholder: "Password" %>
            <%= submit_tag "Sign in", class: "c-nav__button" %>
          <% end %>

          <%= link_to "Sign up", new_blogger_path, class: "c-nav__button" %>
          
        <% end %>
      </div>
    </div>  

  <div class="o-main">
    <% flash.each do |type, message| %>
      <div class="alert c-flash c-flash__<%= type %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
