<!DOCTYPE html>
<html>
<head>
  <title>CodeChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav_bar">
    <% if @Blogger %>
      <button class="btn" id="subscribe">Subscribe</button>
    <% end %>
    <% if !current_user %>
      <button class="btn" id="sign_up">Sign Up</button>
    <% end %>
    <%= link_to "Home", root_path, class: "btn" %>  
  </div>

  <% if !current_user %>
    <div class="sign_up_form">
      <%= form_for new_blogger do |f| %>
        <div>
          <%= f.label :email %>:
          <%= f.text_field :email %>
        </div>
        <div>
          <%= f.label :password %>:
          <%= f.password_field :password %>
        </div>
        <div>
          <%= f.label :password_confirmation %>:
          <%= f.password_field :password_confirmation %>
        </div>
        <%= f.submit "Sign Up", class: "subscribe" %>
      <% end %>
    </div>
  <% end %>

  <% flash.each do |type, message| %>
    <div class="alert flash <%= type %>">
      <%= message %>
    </div>
  <% end %>

  <div class="main">
    <%= yield %>
  </div>

  <% if !session[:user_signed_in] %>
    <div class="sign_in">
      <%= form_tag("/blogger_sessions", method: "post") do %>
        <%= label_tag :email %>:
        <%= text_field_tag :email %>
        <%= label_tag :password %>:
        <%= password_field_tag :password %>
        <%= submit_tag "Sign in", id: "sign_in" %>
      <% end %>
    </div>
  <% end %>

</body>
</html>
