<!DOCTYPE html>
<html>
<head>
  <title>CodeChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav_bar">
    <% if on_blogger_page? && on_blogger_page? != current_user %>
      <button class="btn left" id="subscribe">Subscribe</button>
    <% end %>

    <% if !logged_in? %>
      <button class="btn" id="sign_up">Sign Up</button>
      <button class="btn" id="sign_in">Sign In</button>
    <% else %>
      <%= link_to "Sign Out", :sign_out, method: :post, class: "btn" %>
      <%= link_to "My Blog", blogger_articles_path(current_user), class: "btn" %>
    <% end %>
    <%= link_to "Home", root_path, class: "btn" %>  
  </div>

  <% if !logged_in? %>
    <div class="sign_up_form form">
      <%= form_for new_blogger do |f| %>
        <div>
          <%= f.label :username %>:
          <%= f.text_field :username %>
        </div>
        <div>
          <%= f.label :email %>:
          <%= f.text_field :email %>
        </div>
        <div>
          <%= f.label :password %>:
          <%= f.password_field :password %>
        </div>
        <div>
          <%= f.label :password_confirmation %>:
          <%= f.password_field :password_confirmation %>
        </div>
        <%= f.submit "Sign Up", class: "subscribe" %>
      <% end %>
    </div>

    <div class="sign_in_form form">
      <%= form_tag blogger_sessions_path, method: :post do |f| %>
        <div>
          <%= label_tag :email %>:
          <%= text_field_tag :email %>
        </div>
        <div>
          <%= label_tag :password %>:
          <%= password_field_tag :password %>
        </div>
        <%= submit_tag "Sign In", class: "subscribe" %>
      <% end %>
    </div>
  <% end %>

  <% if on_blogger_page? && on_blogger_page? != current_user %>
    <div class="subscribe_form form form_left">
      <%= form_for [@blogger, new_subscriber] do |f| %>
        <%= f.label :email %>:
        <%= f.text_field :email %>
        <%= f.submit "Become a Subscriber", class: "subscribe" %>
      <% end %>
    </div>
  <% end %>

  <% flash.each do |type, message| %>
    <div class="alert flash <%= type %>">
      <%= message %>
    </div>
  <% end %>

  <div class="main">
    <%= yield %>
  </div>

</body>
</html>
